.category {
    color: #919191;
    margin-right: 10px;
    box-shadow: 1px 1px 1px 1.5px #d6d4d4;
    border: #d6d4d4;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    p {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.currentCategory {
    transform: translateY(-5px);
    box-shadow: 1px 1px 1px 1.5px #d6d4d4;
    color: black;
}