.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
    overflow: hidden;

    .drawer {
        overflow: hidden;
        visibility: visible;
        display: flex;
        flex-direction: column;
        position: fixed;
        max-width: 425px;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: #ffffff;
        box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;

        h4 {
            margin: 0;
            border-bottom: 1px solid #d6d4d4;

        }
    }

}

.overlayVisible {
    visibility: visible;
    opacity: 1;

    .drawer {
        transform: translateX(0);
    }

}

.greenButton {
    width: 245px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }

  .greenButton {
    width: 100%;
    height: 40px;
    background: #9dd558;
    border-radius: 15px;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:disabled {
      background-color: #bebebe !important;
      cursor: default;
    }

    &:hover {
      background: lighten(#9dd558, 5%);
    }

    &:active {
      background: darken(#9dd558, 5%);
    }
  }